<html>
    <head>
        <title>My website</title>
        {% load static %}
        <link rel="stylesheet" href="{% static "r1.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       
        <link type="text/css" rel="stylesheet"  href="{% static "css/bootstrap.css" %}">
        <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
       
        
    </head>
    <body>
      {% load static %}
      <div class="container-fluid pt-2  text-white heading ">
        <div class="row">
          {% comment %} logo {% endcomment %}
        <div class="col-2 px-3 ">
          <img  class="navbar-brand" src="{% static 'logo.png' %}" alt="logo" width="80px">
        </div>
        {% comment %} title {% endcomment %}
      <div class="col-8 py-3 ">
        <h1>Bhopal School of Social Sciences</h1>
      </div>
      <div class="col-2 px-3">
        <img src="{% static "jubilee.png" %}" style="height:100px;">
      </div>
    </div>
    </div>
    <div class="heading2">
      {% for i in list%}
<h6 class="text-center text-black alert alert-primary ">Welcome {{i.name |capfirst}}</h6>
{% endfor%}
    </div>
<div class="container-fluid">
  <div class="row-1">
    <div class="col-3  left">
      <a href="/profile"><h6 class="text-black text-center alert alert-success">My Profile</h6></a>
      <a href="/updatestudent"><h6 class="text-black text-center alert alert-danger">Update Details</h6></a>
      <a href="#"><h6 class="text-black text-center alert alert-info">Exam Form</h6></a>
      <a href="#"><h6 class="text-black text-center alert alert-warning">My Marksheet</h6></a>
    </div>
    <div class="col-9">
    </div>
  </div>
</div>
