<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Simple Login Form Example</title>
    {% load static %}
        <link rel="stylesheet" href="{% static "r1.css" %}">
        <link type="text/css" rel="stylesheet"  href="{% static "css/bootstrap.css" %}">
        <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        

    
  </head>
  <body class="body1">
    <div class="container-fluid pt-2  text-white heading ">
        <div class="row">
          {% comment %} logo {% endcomment %}
        <div class="col-2 px-3 ">
          <img  class="navbar-brand" src="{% static 'logo.png' %}" alt="logo" width="80px">
        </div>
        {% comment %} title {% endcomment %}
      <div class="col-8 py-3 ">
        <h1>Bhopal School of Social Sciences</h1>
      </div>
      <div class="col-2 px-3">
        <img src="{% static "jubilee.png" %}" style="height:100px;">
      </div>
    </div>
    </div>
    
<h5 class="text-dark text-center alert alert-danger">PROFILE DETAILS</h5>

  
  

    <form method="POST" name="f2" action="/updatetask">
            <table class="table center bg-dark text-white text-justify px-3" border="2">
                <tr>
                    <thead class="thead-dark">
                      
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>DOB</th>
                    <th>Password</th>
                  
                </tr>
                
            </thead>
            <tbody>
                    {% for i in list %}
                    <tr>
                    <td><input readonly value="{{i.id}}" name="id" style="width:50px;"></td>
                     <td><input type="text" name="name" value="{{i.name}}" ></td>              {% comment %}to capatalize{% endcomment %}
                    <td><input type="email" name="email" value="{{i.email}}"></td>
                    <td><input type="number" name="mobile" value="{{i.mobile}}"></td>
                    <td><input type="date" name="dob" value="{{i.dob}}"></td>
                    <td><input type="password" name="password" value="{{i.password}}"></td>
                    
                    </tr>
                    <button type="submit" class="btn btn-primary text-white">SUBMIT</button>
                    

                    {% endfor %}
            
                </tbody>
            </table>

            
            
        </form>
      </div>
      <div class="col-1"></div>
        </div>
       
        
          <div class="text-center">
            <a  role="button" class="btn btn-primary " href="/student">BACK</a>
            </div>
        </body>
        </html>
